body{
	font-family: courier;
	text-align: center;
}

div.for{
	padding: 20px;
	text-align: left;
	display: block;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid;
}

input.ad {
	display:block;

}

.h1{
	text-align: left;

}