body {
	margin:0;
}
.main-menu {
  overflow: hidden;
  list-style-type: none;
  background-color: black;
  margin: 0;
  width: 100%;
  text-transform: uppercase;

}
.main-menu li{
	float: left;
}

.main-menu li a{
				font-family: courier;
				display: block;
				padding: 20px;
				text-align: center;
				text-decoration: none;
				color: white;
}


.main-menu a:hover{
		background-color: white;
		color: black;
}

.main-menu li a.active{
	background-color: red;
}

